In [ ]:
Q.1 write a program to accept percent from the user and display the grade

marks               grade
>90                  A
>80 and <=90         B
>=60 and <=80        C
below 60             D

In [10]:
percent = float(input("100:"))
if percent > 90:
    print("Grade A")
elif percent > 80 and marks >= 90:
    print("Grade B")
elif percent >= 60 and marks <=80:
    print("Grade C")
elif percent < 60:
    print("Grade D")

100: 94

Grade A

In [ ]:
Q.2 Write a program to accept the cost price of a bike and display the road tax to be paid according to the criteria 

Tax                         cost price in rupess
15%                              >100000
10%                              >50000 and <= 100000
5%                               <= 500000

In [15]:
cost_price = float(input("150000:"))
if cost_price >100000:
    print("road tax 15%")
elif cost_price >50000 and marks <= 100000:
    print("road tax 10%")
elif cost_price <= 500000:
    print("road tax 5%")

150000: 20000

road tax 5%

In [ ]:
Q.3 Accept any city from the user and display monument of the city

City                                    Monument

delhi                                   Red fort
Agra                                    Taj Mahal
Jaipur                                  Jal mahal

In [1]:
city = input("kolhapur: ")
if city.upper() == "DELHI":
    print("Red Fort")
elif city.upper() == "AGRA":
    print("Taj Mahal")
elif city.upper() == "JAIPUR":
    print("Jal Mahal")
else:
    print("Sorry, I don't know the monument of this city.")

kolhapur:  agra

Taj Mahal

In [ ]:
Q.4 Check how many times a given number is divided by 3 before it is less than or equal to 10

In [8]:
count = 3
number = 10
while number > 10:
    number = number / 3
    count += 10
print(count)

3

In [ ]:
Q.5 Why and when to use while loop on python give a 
detail description with example

In [1]:
#A while loop  in python is used to execute a block of 
#statement repeatedly until a given condition is satisfied
#the loop will continue to run as long as 
#the condition remains true
i = 0
while i<5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
the code will print out from 0 to 4
because the condition says that the i is less than the 5
i<5 is true

In [ ]:
Q.6 use nested while loop to print 3 different pattern

In [2]:
i = 1
while i<=3:
    j = 1
    while j <=i:
        print("*",end="")
        j += 1
    print()
    i+=1

i = 3
while i>=1:
    j = 1
    while j <=i:
        print("*",end="")
        j += 1
    print()
    i -=1
    
i = 1
while i<=3:
    j = 1
    while j <=i:
        print(j, end= "")
        j +=1
    print()
    i += 1

*
**
***
***
**
*
1
12
123

In [ ]:
Q.7 reverse a while loop to display numbers from 10 to 1

In [3]:
i = 20
while i>=1:
    print(i)
    i = i-1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1